# --------------------
# macOS system files
# --------------------
.DS_Store
*/.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# ----------------------------
# Editor / IDE
# ----------------------------
.vscode/

# ----------------------------
# NOT MODIFY
# ----------------------------
docs/html/

# ---
# ETC
# ---
node_modules/
