# --------------------
# macOS system files
# --------------------
.DS_Store
*/.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# ----------------------------
# Editor / IDE
# ----------------------------
.vscode/

# ----------------------------
# NOT MODIFY
# ----------------------------
docs/html/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
transcendence/.env
transcendence/.env.local
transcendence/.env.development.local
transcendence/.env.example



*.env

# Ignore all test files
**/test*.js
**/test*.ts
**/__tests__/

# Ignore all pytest files
**/test*.py

# Ignore node_modules
node_modules/
transcendence/services/game-service/src/pytest/__pycache__/test_game_service.cpython-312-pytest-8.4.2.pyc


transcendence/services/game-service/src/for_reference.md
